main{
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.CameraFields{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-grow: 2;
    align-content: center;
    margin: 0px;
}